.cont2 {
    margin-top: 9%; 
    margin-bottom: 9%;
  }
  
  @media(max-width: 1200px){
    .cont2 {
        margin-top: 15%; 
        margin-bottom: 15%;
      }
  }

  @media(max-width: 720px){
    .cont2 {
        margin-top: 40%; 
        margin-bottom: 40%;
      }
  }

